@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - پنل مدیریت</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <partial name="_AdminHeaderRefrence" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/Admin" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <!--<div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">-->
                        <!-- Messages: style can be found in dropdown.less-->
                        <!--<li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۴ پیام خوانده نشده</li>
                                <li>-->
                                    <!-- inner menu: contains the actual data -->
                                    <!--<ul class="menu">
                                        <li>-->
                                            <!-- start message -->
                                            <!--<a href="#">
                                                <div class="pull-right">
                                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    علیرضا
                                                    <small><i class="fa fa-clock-o"></i> ۵ دقیقه پیش</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>-->
                                        <!-- end message -->
                                        <!--<li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نگین
                                                    <small><i class="fa fa-clock-o"></i> ۲ ساعت پیش</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نسترن
                                                    <small><i class="fa fa-clock-o"></i> امروز</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نگین
                                                    <small><i class="fa fa-clock-o"></i> دیروز</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-right">
                                                    <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    نسترن
                                                    <small><i class="fa fa-clock-o"></i> ۲ روز پیش</small>
                                                </h4>
                                                <p>متن پیام</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">نمایش تمام پیام ها</a></li>
                            </ul>
                        </li>-->
                        <!-- Notifications: style can be found in dropdown.less -->
                        <!--<li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">۱۰</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۱۰ اعلان جدید</li>
                                <li>-->
                                    <!-- inner menu: contains the actual data -->
                                    <!--<ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> ۵ کاربر جدید ثبت نام کردند
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> اخطار دقت کنید
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> ۴ کاربر جدید ثبت نام کردند
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> ۲۵ سفارش جدید
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> نام کاربریتان را تغییر دادید
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">نمایش همه</a></li>
                            </ul>
                        </li>-->
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!--<li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">۹</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۹ کار برای انجام دارید</li>
                                <li>-->
                                    <!-- inner menu: contains the actual data -->
                                    <!--<ul class="menu">
                                        <li>-->
                                            <!-- Task item -->
                                            <!--<a href="#">
                                                <h3>
                                                    ساخت دکمه
                                                    <small class="pull-left">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>-->
                                        <!-- end task item -->
                                        <!--<li>-->
                                            <!-- Task item -->
                                            <!--<a href="#">
                                                <h3>
                                                    ساخت قالب جدید
                                                    <small class="pull-left">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>-->
                                        <!-- end task item -->
                                        <!--<li>-->
                                            <!-- Task item -->
                                            <!--<a href="#">
                                                <h3>
                                                    تبلیغات
                                                    <small class="pull-left">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>-->
                                        <!-- end task item -->
                                        <!--<li>-->
                                            <!-- Task item -->
                                            <!--<a href="#">
                                                <h3>
                                                    ساخت صفحه فرود
                                                    <small class="pull-left">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% تکمیل شده</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>-->
                                        <!-- end task item -->
                                    <!--</ul>
                                </li>
                                <li class="footer">
                                    <a href="#">نمایش همه</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>-->
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    @*<div class="pull-right image">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>*@
                    <div class="pull-right info">
                        <p>مهدی زرگرزاده - آنلاین <i class="fa fa-circle text-success"></i></p>
                    </div>
                </div>
                <br />
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">منو</li>
                    <li>
                        <a href="/Admin">
                            <i class="fa fa-dashboard"></i> <span>داشبرد</span>
                        </a>
                        @*<ul class="treeview-menu">
                <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> داشبرد اول</a></li>
                <li><a href="index2.html"><i class="fa fa-circle-o"></i> داشبرد دوم</a></li>
            </ul>*@
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa fa-inbox"></i> <span>صفحه اصلی سايت</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/SendNewsLetter">
                            <i class="fa fa-send"></i> <span> خبرنامه</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/AboutUs">
                            <i class="fa fa-sticky-note"></i> <span> درباره موسسه</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/ContactUs">
                            <i class="fa fa-sticky-note-o"></i> <span> تماس با ما</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="/Admin">
                            <i class="fa fa-sliders"></i> <span> بخش بنر ها</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/Banner"><i class="fa fa-circle-o"></i> لیست بنر ها</a></li>
                            <li><a href="/Admin/Banner/CreateBanner"><i class="fa fa-circle-o"></i> افزودن بنر</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Admin">
                            <i class="fa fa-users"></i> <span> مدیران سایت</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/Users"><i class="fa fa-circle-o"></i> لیست مدیران</a></li>
                            <li><a href="/Admin/Users/CreateUser"><i class="fa fa-circle-o"></i> افزودن مدیر</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Admin">
                            <i class="fa fa-th-large"></i> <span> مدیریت گروه ها</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/Categories"><i class="fa fa-circle-o"></i> لیست گروه ها</a></li>
                            <li><a href="/Admin/Categories/CreateCategory"><i class="fa fa-circle-o"></i> افزودن گروه</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="/Admin">
                            <i class="fa fa-rss"></i> <span> مدیریت بلاگ ها</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Admin/Blogs"><i class="fa fa-circle-o"></i> لیست بلاگ ها</a></li>
                            <li><a href="/Admin/Blogs/CreateBlog"><i class="fa fa-circle-o"></i> افزودن بلاگ</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <partial name="_AdminFooterRefrence" />
    <partial name="_Message" />

    @RenderSection("Scripts", required: false)

</body>
</html>