
@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
    Layout = "_NullLayout";
}

<body class="rtl bg-white">
    <div class="main_wrap">
        <div class="of-site-mask"></div>

        <div class="container-fluid p-lg-5 text-center maxw404">

            <div class="row">
                <div class="col-lg-12 mb-4">
                    <img src="/Img/404.png" />
                    <h1 class="my-3">ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید</h1>
                    <a href="/" class="btn btn-lightorng">بازگشت به صفحه اصلی<i class="fal fa-angle-left pr-2"></i></a>
                </div>

            </div>
        </div>

    </div>
</body>