@model Mqeb.Application.DTOs.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشي رمز عبور";
    Layout = "_NullLayout";
}

@section MetaTags
{
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
}

<body class="rtl bg-culight min-h">
    <section class="container maxw">
        <div class="card login  mx-sm-5 mt-5 justify-content-center shadow-lg">
            <div class="row">
                <div class="col-lg-6 d-lg-block d-none loginimg p_relative p-0">
                    <img src="/Img/loginBg.jpg" />
                </div>
                <div class="col-lg-6">
                    <div class="card-body px-4 py-5 text-center">
                        <a href="/"><img src="/Img/logo-main.png" alt="logo" class="pb-3"></a>
                        <h2 class="my-2 text-primary">کلمه عبور خود را فراموش کرده اید ؟</h2>
                        <p class="mb-3 fa12">لطفا آدرس ایمیل خود را جهت بازیابی کلمه عبور وارد کنید</p>
                        <form method="post">
                            <div class="form-group mb-4">
                                <input type="email" asp-for="Email" class="form-control" required placeholder="آدرس ایمیل">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <br/>
                            <google-recaptcha></google-recaptcha>
                            <br/>
                            <button type="submit" name="login" id="login" class="btn btn-block py-2 btn-success radius10 my-3">ارسال کلمه عبور</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
    <partial name="_ValidationScriptsPartial" />
}