@model Mqeb.Application.DTOs.Account.LoginViewModel
@{
    ViewData["Title"] = "ورود";
    Layout = "_NullLayout";
}

@section MetaTags
{
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
}

<body class="rtl bg-culight min-h">
<section class="container maxw">
    <div class="card login  mx-sm-5 mt-5 justify-content-center shadow-lg">
        <div class="row">
            <div class="col-lg-6 d-lg-block d-none loginimg p_relative p-0">
                
            </div>
            <div class="col-lg-6">
                <div class="card-body p-4 text-center">
                    <a href="/"><img src="/Img/logo-main.png" alt="logo" class="py-2"></a>
                    <h1 class="my-3 text-drkprimary">ورود به پنل کاربری</h1>
                    <form method="post">
                        <div class="form-group">
                            <input asp-for="UserName" class="form-control" required placeholder="نام کاربری">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" asp-for="Password" class="form-control" required placeholder="کلمه عبور">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-2">
                            <input style="position: inherit !important; margin-left: 0 !important;" type="checkbox" asp-for="RememberMe" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                        </div>
                        <br />
                        <google-recaptcha></google-recaptcha>
                        <br />
                        <button type="submit" class="btn btn-block btn-success py-2 radius10 mb-4">ورود</button>
                    </form>
                    <div>

                    </div>
                    <a href="/ForgotPassword" class="forgot-password-link">رمز عبور خود را فراموش کرده اید ؟</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
    <partial name="_ValidationScriptsPartial"/>
}