@page "{id?}"
@model Mqeb.Web.Pages.Admin.Categories.CreateCategoryModel
@{
    ViewData["Title"] = "افزودن گروه";
}

<section class="content-header">
    <h1>
        افزودن گروه
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> پنل مدیریت</a></li>
        <li><a href="/Admin/Categories">مدیریت گروه ها</a></li>
        <li><a href="/Admin/Categories/CreateCategory">افزودن گروه</a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">افزودن گروه</h3>
        </div>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Category.ParentID"/>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Category.CategoryTitle"></label>
                        <input asp-for="Category.CategoryTitle" class="form-control" type="text" placeholder="نام گروه">
                        <span asp-validation-for="Category.CategoryTitle" class="text-primary"></span>
                        <br>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">ثبت</button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}